//sass style
//-----------------------------------
$fontStack: Helvetica, sans-serif;
$primaryColor: #333;
$linkColor: #08c;

body {
  font-family: $fontStack;
  color: $primaryColor;
  a {
    text-decoration:none;
    color:$linkColor;
    &:hover{
      color:darken($linkColor,10%);
    }
  }
}
